@import './variables';

@font-face {
  font-family: $font;
  src: local($font), url(../../assets/fonts/MavenPro/MavenPro-Regular.ttf) format('truetype');
}

body {
  font-family: $font;
}

// would be great to move this to muiSettings.js
.Mui-error {
  color: $secondary !important;

  &:after {
    border-bottom-color: $secondary !important;
  }
}