@import '../../../utils/styles/variables';

.container {
  display: flex;
  justify-content: row;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px;
  color: $light;
  transition: all .3s;
  text-decoration: none;
  border-radius: 5px;

  &:hover {
    background-color: $secondary;
  }
}