.container {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: row;
  background-color: #e6e6fa;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  height: 100%;
  background-color: #fff;
}

.form {
  width: 80%;
  display: flex;
  flex-direction: column;

  & > * {
    margin-bottom: 30px !important;
  }
}

.signInMessage {
  align-self: flex-end;
  margin: 0 0 10px 0 !important;
}

.signInLink {
  text-decoration: none;
}